/* опишем базовый стиль кнопки калькулятора */

.fon{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(D:/картинки/Still-life_Meat_products_507138.jpg)
}
.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 50px;                 /* задаем ширину кнопки */
    height: 50px;                /* задаем высоту кнопки */
    border-radius: 0%;          /* округляем кнопку */
    border: none;                /* отключаем обводку */
    background: #481616;         /* задаем серый цвет кнопки */
    color: rgb(255, 0, 0);                /* задаем белый цвет текста внутри кнопки */
    font-size: 1rem;           /* увеличим размер шрифта */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
  } 
  
  /* hover - это состояние элемента, когда на него наведен курсор */
  .my-btn:hover {
    background: rgb(255, 148, 148); /* при наведение курсора на кнопку, она будет окрашена в серый */
  }
  
  /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
  .my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
  }
  
  /* селектор для кнопок первостепенных операций */
  .my-btn.primary { 
    background: #ffa8f2; /* цвет кнопки оранжевый */
  }
  
  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #a6a6a6; /* цвет кнопки сервый */
  }
  
  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute { 
    width: 100px;          /* сделаем кнопку шире других */
    border-radius: 0px;   /* подкорректируем округлость */
  }
  
  /* селектор для поля вывода результата */
  .result { 
    width: 250px;
    height: 70px;
    border-radius: 45px;
    background: aquamarine;
    margin-bottom: 15px;   
    padding-top: 10px;      /* отступ снизу */
    padding-right: 30px;         /* выступ справа */
     /* цвет можно задавать и таким образом */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: rgb(255, 0, 0);              /* цвет текста белый */
    font-size: 1rem;           /* увеличим размер шрифта */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* сменим шрифт */
  }